/* ---MAIN.PHP--- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height:auto;
    width: 900px;
}
#number {
    padding-left: 10px;
    border: 2px solid rgba(191,111,75,255);
    width: 1000px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 25px;

}
.header {
    margin-top: 10px;
    
}
h1 {
    color: #b95a2f;
    font-size: xx-large;
}
h2 {
    color: #b95a2f;
    margin-left: 100px;
    font-size: x-large;
}
h3 {
    color: #b95a2f;
    margin-left: 100px;
    font-size: larger;
}
img {
    margin-left: 100px;
}
label {
    color: #985e15;
    font-size: larger;
    font-weight: 600px;
    margin-left: -10px;
}
select {
    color: #985e15;
    font-size: larger;
    font-weight: 800px;
    border: 3px solid #cccccc;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
}

/* ---Buttons--- */
.btn{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.btn-btn {
    background-color: #985e15;
    color: #fff;
    font-size: larger;
    border: 2px solid #cccccc ;
    border-radius: 5px;    
}
.btn-btn:hover {
    background-color:#fff;
    color:  #985e15;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
}
a:hover {
    color:#985e15;
    font-size: larger;
}
.selectedperson {
    color: #f2a821;
}
.currno, .total {
    font-weight: 700px;
    color: #be123c;
}
.today {
    color: #0284c7;
    font-style: normal;
    font-kerning: auto;
}
