/* ---MAIN.PHP--- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    height:auto;
    width: 900px;
}
p {
    padding-left: 10px;
    border: 2px solid rgba(191,111,75,255);
    width: 1000px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 25px;

}
.header {
    margin-top: 10px;
    
}
h1 {
    color: #b95a2f;
    font-size: xx-large;
}
h2 {
    color: #b95a2f;
    margin-left: 100px;
    font-size: x-large;
}
h3 {
    color: #b95a2f;
    margin-left: 100px;
    font-size: larger;
}
img {
    margin-left: 100px;
}
label {
    color: #985e15;
    font-size: larger;
    font-weight: 600px;
    margin-left: -10px;
}
select {
    color: #985e15;
    font-size: larger;
    font-weight: 800px;
    border: 3px solid #cccccc;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
}

/* ---Buttons--- */
.btn{
    display: flex;
    flex-direction: row;
}
.btn-right{
    margin-right: 20px;
}
.btn-btn {
    background-color: #985e15;
    color: #fff;
    font-size: 20px;
    border: 2px solid #cccccc ;
    border-radius: 5px;    
}
.btn-btn:hover {
    background-color:#FBB02D;
    color:  #985e15;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: normal;
    padding: 5px;
    margin-top: 20px;
}
a:hover {
    color:#985e15;
}
.selectedperson {
    color: #f2a821;
}
.currno, .total {
    font-weight: 700px;
    color: #be123c;
}
.today {
    color: #0284c7;
    font-style: normal;
    font-kerning: auto;
}
/* ---tables--- */
/* styling table to have beautiful lines and borders */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}
table tr th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
table tr th {
    background: #f5f5f5;
    background-color: #f2a821;
    color: #fff;
}

table tr th:nth-child(even) {
    background-color: #FBB02D;
}
table tr th:nth-child(odd) {
    background-color: #F18F01;
}
.tabletr:nth-child(even) {
    background-color: #048BA8;
}
.tabletr:nth-child(odd) {
    background-color: #99C24D;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2a821;
    color: #fff;
}
table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
}
table td:hover {
    background-color: rgb(215, 37, 37);
}
